@{
    ViewData["Title"] = "Create Event Template";
}

<h2>Create Template</h2>

<form asp-action="ConfirmCreateTemplate" method="post">
    <input type="hidden" name="eventRequestId" value="@ViewBag.RequestId" />

    <p>
        A new template will be created for this Event Request.
        You can add vendors in the next step, and the Estimated Budget will be calculated automatically.
    </p>

    <button type="submit" class="btn btn-success">Create Template</button>
</form>
