@model PrimeVenue.Model.SubCategory
@{
    var categoryId = ViewBag.CategoryId;
}

<h2>Create SubCategory</h2>

<form asp-action="CreateSubCategory" method="post">
    <input type="hidden" asp-for="CategoryId" value="@categoryId" />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="ImageUrl">Image URL</label>
        <input asp-for="ImageUrl" />
        <span asp-validation-for="ImageUrl"></span>
    </div>

    <button type="submit">Create SubCategory</button>
</form>
